body {
    background-color: #fffdf6;
}

h2 {
    text-align: left;
    padding-left: 50px;
    font-size: 40px;
}

#title {
    float: left;
}
#nav {
    float: right;
    padding-top: 40px;
    padding-right: 300px;
}

#infobox {
    width: 500px;
}
#profiletab {
    float: right;
    padding-right: 50px;
}
#workstab {
    float: right;
}

#dislikes {
    float: right;
}

#likes {
    float: left;
}

#profileimg {
    height: 525px;
    width: 375px;

}

#worksimg {
    height: 525px;
    width: 375px;

}








